@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Lato:wght@100;300;400&family=Poppins:wght@500;600;700&family=Red+Hat+Display:wght@500;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: #ff7979;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  width: 375px;
}

.container__form {
  width: 327px;
  margin-bottom: 64px;
}

.container__header {
  color: #fff;
  font-size: 28px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 442px;
  background: #fff;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 10px rgba(0, 0, 0, 0.2)
}

.container__header--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 100;
  background: #5e54a4;
  border-radius: 10px;
  height: 88px;
  margin-top: 88px;
  margin-bottom: 24px;
  box-shadow: 0 10px rgba(0, 0, 0, 0.1);
}

.container__header--form span {
  font-weight: 900;
}

.form__input--field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  border: 1px solid #dedede;
  padding: 0 20px;
  border-radius: 5px;
}

.form__input input {
  border: none;
  height: 56px;
  flex-grow: 1;
  outline: none;
}

.error-message {
  text-align: right;
  font-size: 11px;
  font-style: italic;
  color: #ff7979;
  height: 20px;
}

.form__input--error {
  visibility: hidden;
}

.form__btn {
  width: 280px;
  height: 56px;
  background: #38CC8B;
  color: #fff;
  margin-bottom: 8px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -4px rgba(0, 0, 0, 0.1);
}

.form__terms {
  text-align: center;
  font-size: 11px;
  width: 250px;
  color: #bab7d4;
}

.form__terms span {
  color: #ff7979;
}

.container__content {
  width: 327px;
  color: #fff;
  text-align: center;
}

.container__content h2 {
  margin-top: 64px;
  margin-bottom: 16px;
  font-size: 28px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (min-width: 1150px) {
  .container {
    width: 1200px;
    flex-direction: row;
  }

  .container__form {
    width: 540px;
  }

  .container__content {
    width: 525px;
    text-align: left;
  }

  .container__content h2 {
    font-size: 50px;
    line-height: 55px;
  }
}