@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Lato:wght@100;300;400&family=Poppins:wght@500;600;700&family=Red+Hat+Display:wght@500;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ff7979;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-image: url("../images/bg-intro-mobile.png");
  background-repeat: no-repeat;
   text-align: center;
}

.card__content {
  width: 327px;
  margin: 88px 0;
  color: #fff;
}

.card__content h2 {
  font-size: 28px;
  letter-spacing: -0.29px;
  margin-bottom: 16px;
}



.form {
  width: 327px;
  margin-bottom: 64px;
}

.container__header {
  font-size: 28px;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 442px;
  background: #fff;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 10px rgba(0, 0, 0, 0.2)
}

.form__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 0.27px;
  background: #5e54a4;
  color: #fff;
  border-radius: 10px;
  height: 88px;
  margin-bottom: 24px;
  box-shadow: 0 10px rgba(0, 0, 0, 0.1);
}

.form__header span {
  font-weight: 900;
}

.form__input--field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  border: 1px solid #dedede;
  padding: 0 20px;
  border-radius: 5px;
}

.form__input input {
  border: none;
  height: 56px;
  flex-grow: 1;
  outline: none;
}

.error-message {
  text-align: right;
  font-size: 11px;
  font-style: italic;
  color: #ff7979;
  height: 20px;
}

.form__input--error {
  visibility: hidden;
}

.form__btn {
  width: 280px;
  height: 56px;
  background: #38CC8B;
  color: #fff;
  margin-bottom: 8px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -4px rgba(0, 0, 0, 0.1);
}

.form__terms {
  text-align: center;
  font-size: 11px;
  width: 250px;
  color: #bab7d4;
}

.form__terms span {
  color: #ff7979;
}

@media screen and (min-width: 1200px) {
  body {
    background-image: url("../images/bg-intro-desktop.png");
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    background-image: none;
  }

  .form__header {
    display: block;
    text-align: center;
    line-height: 60px;
    height: 60px;
  }

  .form {
    width: 540px;
    margin-left: 45px;
    margin-bottom: 0;
  }

  .card__content {
    width: 525px;
    text-align: left;
  }

  .card__content h2 {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.52px;
  }

  .form__input--field,
  .form__btn {
    width: 460px;
  }

  .form__btn {
    cursor: pointer;
  }

  .form__btn:hover {
    background: #77e2b3;
  }

  .form__terms {
    width: 380px;
  }
}